//Bourbon Mixins
@import "bourbon/bourbon";

// Colors
$primary-color: #FE5F55;
$primary-contrast-color: #42517C;
$ground-color: #3F325D;
$secondary-color: #FFE066;
$secondary-contrast-color: #FFFFC7;
$tertiary-blue-grey: #2B2D42;
$tertiary-blue-grey-variant: #2B2D3B;
$tertiary-dark-grey: #8D99AE;
$tertiary-light-grey: #D8DBE2;

// Font Set
@font-face {
    font-family: 'mdi';
    src:url(../lib/mdi/fonts/materialdesignicons-webfont.woff) format('woff'),url(../lib/mdi/fonts/materialdesignicons-webfont.woff2) format('woff2');
}

/* Breakpoints */
@mixin bp-large {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (max-width: 1199px){
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 991px){
    @content;
  }
}
@mixin bp-xsmall {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
/* end of breakpoints */

html, body {
    width: 100%;
    overflow-x: hidden;
}
// Removing link outlines
a {
    outline: 0;
    text-decoration: none;
}
a:active {
    outline: 0;
}
a:visited {
    outline: 0;
}
input::-moz-focus-inner {
  border: 0;
}
.center {
    text-align: center;
}
/* Centering Hack */
.content {
    margin: 0px auto;
    display: table;
}
.content > div {
    display: table-cell;
}
/* Clearfix Hack */
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
/* Max height inherit */
.inherit-max-height {
    max-height: inherit;
}
/* height inherit */
.inherit-height {
    height: inherit;
}
.zero-margin {
    margin: 0px;
}
/* Flexbox */
.flex-parent-column {
    @include display(flex);
    @include flex-direction(column);
    overflow: hidden;
}
.flex-child-column {
    @include flex(1 0 auto);
    margin: 10px;
}
.flex-parent-row {
    @include display("flex");
    @include flex-direction("row");
    //@include justify-content("flex-start");
    //@include align-content("flex-start");
    overflow: hidden;
}
.flex-child-row {
    @include flex(1 1 auto);
}
.flex-wrappable {
    @include flex-wrap(wrap);
}
/* end of flexbox */
.header {
    @extend .zero-margin;
    font-family:'agenda',sans-serif;
    font-size:7.993em;
    font-kerning: auto;
    line-height:130%;
    padding-bottom:5px;
    color: $tertiary-blue-grey-variant;
}
.sub-header {
    @extend .zero-margin;
    font-family:'abel',sans-serif;
    font-size:5.653em;
    font-kerning:auto;
    line-height:125%;
    padding-bottom:5px;
    color: $tertiary-blue-grey-variant;
}
.sub-sub-header {
    @extend .zero-margin;
    font-size:3.998em;
    font-kerning:auto;
    line-height:120%;
    padding-bottom:5px;
    font-family:'abel',sans-serif;
    color: $tertiary-blue-grey-variant;
}
.text {
    @extend .zero-margin;
    @include bp-xsmall {
        font-size: 1.1em;
    }
    font-size:1.414em;
    font-kerning:auto;
    line-height:100%;
    font-family:'EB Garamond',serif;
    color: $tertiary-blue-grey-variant;
}
