@font-face {
  font-family: 'mdi';
  src: url(../lib/mdi/fonts/materialdesignicons-webfont.woff) format("woff"), url(../lib/mdi/fonts/materialdesignicons-webfont.woff2) format("woff2"); }
/* Breakpoints */
/* end of breakpoints */
html, body {
  width: 100%;
  overflow-x: hidden; }

a {
  outline: 0;
  text-decoration: none; }

a:active {
  outline: 0; }

a:visited {
  outline: 0; }

input::-moz-focus-inner {
  border: 0; }

.center {
  text-align: center; }

/* Centering Hack */
.content {
  margin: 0px auto;
  display: table; }

.content > div {
  display: table-cell; }

/* Clearfix Hack */
/* Max height inherit */
.inherit-max-height {
  max-height: inherit; }

/* height inherit */
.inherit-height {
  height: inherit; }

.zero-margin, .header, .sub-header, .sub-sub-header, .text {
  margin: 0px; }

/* Flexbox */
.flex-parent-column {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  overflow: hidden; }

.flex-child-column {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 10px; }

.flex-parent-row {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: "row";
  -moz-flex-direction: "row";
  flex-direction: "row";
  -ms-flex-direction: "row";
  overflow: hidden; }

.flex-child-row {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.flex-wrappable {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/* end of flexbox */
.header {
  font-family: 'agenda',sans-serif;
  font-size: 7.993em;
  font-kerning: auto;
  line-height: 130%;
  padding-bottom: 5px;
  color: #2B2D3B; }

.sub-header {
  font-family: 'abel',sans-serif;
  font-size: 5.653em;
  font-kerning: auto;
  line-height: 125%;
  padding-bottom: 5px;
  color: #2B2D3B; }

.sub-sub-header {
  font-size: 3.998em;
  font-kerning: auto;
  line-height: 120%;
  padding-bottom: 5px;
  font-family: 'abel',sans-serif;
  color: #2B2D3B; }

.text {
  font-size: 1.414em;
  font-kerning: auto;
  line-height: 100%;
  font-family: 'EB Garamond',serif;
  color: #2B2D3B; }
  @media only screen and (max-width: 767px) {
    .text {
      font-size: 1.1em; } }

.block {
  display: block;
  position: relative;
  height: auto; }

.progress-tabs {
  list-style: none;
  padding: 10px;
  margin-left: 50px;
  color: black;
  border: 0;
  border-color: none;
  cursor: pointer; }

.progress-tabs > li {
  display: inline-block;
  border-bottom: 3px solid #D8DBE2;
  margin: 5px 20px 5px 5px; }

.progress-tabs li.active {
  border-color: #42517C; }
